examples/Add Geojson Building.json
[{"id":"9b909d29.07c24","type":"inject","z":"ce7dd95c.f41c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Museum","payload":"","payloadType":"str","x":260,"y":100,"wires":[["bcd3e780.6c6438"]]},{"id":"bcd3e780.6c6438","type":"http request","z":"ce7dd95c.f41c","name":"","method":"GET","ret":"obj","url":"https://gist.githubusercontent.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d/raw/8c384b4e418670a35dc054ab7da6638ff4073a69/indoor_3D_map_example.geojson","tls":"","x":410,"y":100,"wires":[["d4ab8d40.31c81"]]},{"id":"d4ab8d40.31c81","type":"function","z":"ce7dd95c.f41c","name":"","func":"var m = {overlay:msg.topic, geojson:msg.payload, fit:true};\n\nmsg.payload = {command:{map:m, lat:41.86672, lon:-87.61751}};\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["f64e5234.4402e"]]},{"id":"f64e5234.4402e","type":"worldmap","z":"ce7dd95c.f41c","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":800,"y":100,"wires":[]}]
