examples/Add Geojson Building.json
[{"id":"9b909d29.07c24","type":"inject","z":"745a133b.dd6dec","name":"","topic":"Museum","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1620,"wires":[["bcd3e780.6c6438"]]},{"id":"bcd3e780.6c6438","type":"http request","z":"745a133b.dd6dec","name":"","method":"GET","ret":"obj","url":"https://gist.githubusercontent.com/ryanbaumann/a7d970386ce59d11c16278b90dde094d/raw/8c384b4e418670a35dc054ab7da6638ff4073a69/indoor_3D_map_example.geojson","tls":"","x":310,"y":1620,"wires":[["d4ab8d40.31c81"]]},{"id":"d4ab8d40.31c81","type":"function","z":"745a133b.dd6dec","name":"","func":"var m = {overlay:msg.topic, geojson:msg.payload, fit:true};\n\nmsg.payload = {command:{map:m, lat:41.86672, lon:-87.61751}};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1620,"wires":[["7312c01f.8c047","8a8c27be.a66668"]]},{"id":"8a8c27be.a66668","type":"worldmap","z":"745a133b.dd6dec","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":690,"y":1620,"wires":[]}]
