examples/Basic Map.json
[{"id":"ec9da974.051b48","type":"inject","z":"ce7dd95c.f41c","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":170,"y":160,"wires":[["f77a7ed4.f955d"]]},{"id":"f77a7ed4.f955d","type":"function","z":"ce7dd95c.f41c","name":"Add person to map","func":"var thing = {\n    name:\"Jason Isaacs\", \n    lat:51, \n    lon:-1.45,\n    icon:\"car\",\n    iconColor:\"darkred\",\n    extrainfo:\"Hello to Jason Isaacs\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["f83930ff.b21488"]]},{"id":"cd09f7be.079518","type":"comment","z":"ce7dd95c.f41c","name":"Simple map - click inject to send point to map.","info":"Adds a map at http://(your-server-ip):1880/worldmap. \n\nThe `function` node creates an object with some basic properties required to add to a map.","x":300,"y":100,"wires":[]},{"id":"f83930ff.b21488","type":"worldmap","z":"ce7dd95c.f41c","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":600,"y":160,"wires":[]}]
