examples/ESRI featurelayer overlay.json
[{"id":"573ef3eef64ca4c1","type":"worldmap","z":"70a15c4047f2ce55","name":"","lat":"34","lon":"-119","zoom":"10","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"CO","maplist":"OSMG,OSMH,EsriC,EsriS","mapname":"LocalOSM","mapurl":"http://localhost:1885/styles/light/{z}/{x}/{y}.png","mapopt":"","mapwms":false,"x":680,"y":560,"wires":[]},{"id":"db4b02196f09bc6f","type":"inject","z":"70a15c4047f2ce55","name":"trailheads","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":560,"wires":[["8dbe012b2a894e9b"]]},{"id":"8dbe012b2a894e9b","type":"function","z":"70a15c4047f2ce55","name":"function 2","func":"\nconst style = function () {\n    return { color: \"#000091\", weight: 2 };\n};\n\nconst pointToLayer = function (geojson, latlng) {\n    console.log(\"Point geo\", latlng, geojson);\n    return L.circleMarker(latlng).bindPopup(geojson.properties.TRL_NAME);\n};\n\nconst onEachFeature = function (geojson, layer) {\n    console.log(\"Feature\", layer, geojson);\n};\n\nmsg.payload = {\n    command : {\n        map : {\n            overlay : \"Trailheads\",\n            esri: \"https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trailheads_Styled/FeatureServer/0\",\n            opt: {\n                style: style.toString(),\n                pointToLayer: pointToLayer.toString(),\n                onEachFeature: onEachFeature.toString()\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":5,"initialize":"","finalize":"","libs":[],"x":400,"y":560,"wires":[["573ef3eef64ca4c1"]]},{"id":"310aa5b8f88c225c","type":"inject","z":"70a15c4047f2ce55","name":"trails","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":600,"wires":[["ec8831289bfb117c"]]},{"id":"ec8831289bfb117c","type":"function","z":"70a15c4047f2ce55","name":"function 3","func":"\nconst style = function () {\n    return { color: \"#009100\", weight: 3 };\n};\n\nconst onEachFeature = function (geojson, layer) {\n    console.log(\"Feature\", layer, geojson);\n};\n\nmsg.payload = {\n    command : {\n        map : {\n            overlay : \"Trails\",\n            esri: \"https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails_Styled/FeatureServer/0\",\n            opt: {\n                style: style.toString(),\n                onEachFeature: onEachFeature.toString()\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":600,"wires":[["573ef3eef64ca4c1"]]},{"id":"55fb1ea255465f0e","type":"inject","z":"70a15c4047f2ce55","name":"parks","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":640,"wires":[["f23b7921618df33e"]]},{"id":"f23b7921618df33e","type":"function","z":"70a15c4047f2ce55","name":"function 4","func":"\nconst style = function () {\n    return {\n        color: \"#910000\", \n        weight: 1,\n        \"fillColor\": \"#808000\",\n        \"fillOpacity\": 0.1 };\n};\n\nconst onEachFeature = function (feature, layer) {\n    console.log(\"Feature\", feature);\n    layer.bindPopup(feature.properties.PARK_NAME)\n};\n\nmsg.payload = {\n    command : {\n        map : {\n            overlay : \"Parks\",\n            esri: \"https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Parks_and_Open_Space_Styled/FeatureServer/0\",\n            opt: {\n                maxZoom: 13,\n                minZoom: 9,\n                style: style.toString(),\n                onEachFeature: onEachFeature.toString()\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":640,"wires":[["573ef3eef64ca4c1"]]}]