examples/Split Map With Swipe.json
[
    {
        "id": "2e9ce367.acdb9c",
        "type": "worldmap",
        "z": "82738787.0e0338",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "8",
        "layer": "OSM",
        "cluster": "0",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "path": "/worldmap",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "8d0f8d4c.3cd21",
        "type": "function",
        "z": "82738787.0e0338",
        "name": "remove split",
        "func": "msg.payload = {command:{side:\"none\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 980,
        "wires": [
            [
                "2e9ce367.acdb9c"
            ]
        ]
    },
    {
        "id": "311acf75.93ff8",
        "type": "function",
        "z": "82738787.0e0338",
        "name": "Satellite",
        "func": "msg.payload = {\n    command:{\n        side: \"Esri Satellite\", \n        split: 66,\n        showlayer: \"roads\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 920,
        "wires": [
            [
                "2e9ce367.acdb9c"
            ]
        ]
    },
    {
        "id": "eaea1a90.f27b98",
        "type": "worldmap in",
        "z": "82738787.0e0338",
        "name": "",
        "path": "/worldmap",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "4540d879.244f88"
            ]
        ]
    },
    {
        "id": "4540d879.244f88",
        "type": "switch",
        "z": "82738787.0e0338",
        "name": "",
        "property": "payload.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 920,
        "wires": [
            [
                "311acf75.93ff8"
            ]
        ]
    },
    {
        "id": "f77366dc.818138",
        "type": "inject",
        "z": "82738787.0e0338",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 980,
        "wires": [
            [
                "8d0f8d4c.3cd21"
            ]
        ]
    }
]
