examples/Trigger reload of data.json
[{"id":"62ae3b3c.8de704","type":"worldmap in","z":"f86be7c2.1183b8","name":"","path":"/worldmap","x":140,"y":660,"wires":[["2eadb3d5.d063ec","c47cdeab.f4911","259809c4.43edf6"]]},{"id":"2eadb3d5.d063ec","type":"debug","z":"f86be7c2.1183b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":620,"wires":[]},{"id":"259809c4.43edf6","type":"switch","z":"f86be7c2.1183b8","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":660,"wires":[[]]},{"id":"13a00ba8.dcc8e4","type":"comment","z":"f86be7c2.1183b8","name":"Reload trigger","info":"The output from the switch will fire whenever a browser connects (or reconnects).\n\nThis can be used to retrieve stored datapoints and resend them to the map, as by default the main does not retain any sata between refreshes.\n\nThe debug node will show other properties that may be useful to trigger other actions.\n","x":150,"y":620,"wires":[]}]
